# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries
- Simle arithmentic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. ggplot
4. seaborn
5. matplotlib
6. scikit-learn

| Data Science Tools |
|------|
|Jupyter Notebook|
|RStudio|
|Power BI|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [19]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [22]:
200/60

3.3333333333333335

## Author
Guido